.u-align-center {
    text-align: center;
}

.u-flex {
    display: flex;
}

@for $i from 1 through 4 {
    .u-col-#{$i} {
        > * {
            width: 100%;
            @media(min-width: $small){
                width: calc(100%/#{$i});
            }
        }
    }
}

.u-m-col-2 {
    > * {
        @media(max-width: $small){
            width: 50%;
        }
    }
}