<header class="u-flex u-col-2">
    <h1>BQ's kunskapsblogg</h1>
    <nav class="main-nav">
        <button type="button" class="btn open-nav" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
            <span class="menutext">Meny</span>
        </button>
        <ul class="u-flex" aria-hidden="true">
            <li><a href="#">Artiklar</a></li>
            <li><a href="#">Om BQ</a></li>
        </ul>
    </nav>
</header>
<button type="button" class="btn close-nav" aria-hidden="true" tabindex="-1">
    <span class="menutext">Stäng</span>
</button>