header {
    padding: 1rem 0;
    max-width: $site-width;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        font-size: 1rem;
        @media (min-width: $small){
            font-size: 1rem;
        }
    }
    .main-nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            justify-content: flex-end;
            li {
                a {
                    font-weight: 600;
                    color: $black;
                    padding: 1rem;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                        border-bottom: 1px dashed $black;
                    }
                }
            }
        }
    }
}
