// Colors
$bkg: #ffcc33;
$black: #000;
$secondary: #fff;

// Type
$main: "rigid-square",sans-serif;

// Breakpoints
$small: 800px;
$medium: 1000px;

// Widths
$site-width: 1240px;

// Animation
@mixin transition($speed: 0.5s,$timing: ease-in-out,$property: all) {
    -webkit-transition: $speed $timing $property;
    -moz-transition: $speed $timing $property;
    -o-transition: $speed $timing $property;
    transition: $speed $timing $property;
}