.u-align-center {
    text-align: center;
}
.u-align-left {
    text-align: left;
}
.u-align-right {
    text-align: right;
}

.u-flex {
    display: flex;
    flex-wrap: wrap;
}

.u-f-justify-center {
    justify-content: center;
}

@for $i from 1 through 4 {
    .u-col-#{$i} {
        > * {
            width: 100%;
            @media(min-width: $small){
                width: calc(100%/#{$i});
            }
        }
    }
}

.u-m-col-2 {
    > * {
        @media(max-width: $small){
            width: 50%;
        }
    }
}

.u-text-width {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}